@tailwind base;
@tailwind components;
@tailwind utilities;


.search-dropdown {
    top: 40px !important;
    border-radius: 0.25rem !important;
    border: 1px solid #e2e8f0 !important;
    overflow: hidden;
    background-color: white;
}
.search-dropdown > div {
    margin-bottom: -1px !important;
    border-radius: 0 !important;
    border-left: none !important;
    border-right: none !important;
    background-color: none;
}

.search-dropdown > div:first-child {
    border-top: none !important;
}

.search-dropdown:empty {
    display: none;
}

.footer-ul li:after {
    content: " • ";
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.footer-ul li:last-child:after {
    content: "";
}

.ticker-marquee {
    --gap: 1rem;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
}

.ticker-marquee__content {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    min-width: 100%;
    gap: var(--gap);
    animation: scroll 120s linear infinite;
}

.ticker-marquee:hover .ticker-marquee__content {
    animation-play-state: paused;
}

@keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
}

.text-xxs {
    font-size: 0.65rem;
}

.border-b-1 {
    border-bottom-width: 1px;
}

.mini-commodity-table-bg {
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 76%, rgba(255,255,255,0) 100%);
}

.transform-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.price-alert-number-input::-webkit-inner-spin-button {
    margin-left: 10px;  
}

.price-alert-number-input::-webkit-outer-spin-button {
    margin-left: 10px;  
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
}